@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ffffff;
  --secondary-color: #f8fafc;
}

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    @apply overflow-hidden;
  }
  /* To Remove Input-Type Number Arrow */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Define the styles for the scrollbar */
  #custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  #custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6761615d;
    border-radius: 6px;
  }

  #custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}
